[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
constructs = "~=10.2.70"
cdk8s = "~=2.66.4"
cdk8s-plus-26 = "~=2.18.30"
aws-cdk-lib = "~=2.99.1"
"aws-cdk.lambda-layer-kubectl-v25" = "~=2.0.3"

[requires]
python_version = "3.10"
